{% extends 'school/base_student.html' %}
{% load static %}

{% block content %}
    {% include 'school/message.html' %}
    <h1 class="text-center" style="color: #6B97FA">Videos de {{ course1.name }}</h1>
    <div class="col col-lg-3 text-light" style="background-color: #1C2333">
        <h3 class="text-center">cours</h3>
        <ul class="list-group text-light text-center">
            {% for course in courses %}
                <li class="list-group-item bg-dark text-light"><a class="nav-link text-light bg-dark" href="{% url 'student-video-course' course.id %}">{{ course.name }}</a></li>
            {% endfor %}
          </ul>
    </div>
    <div class="row col-md-9">
        {% for video in videos %}
              <div class="card shadow text-light mx-3 mt-3" style="background-color: #1C2333;width: 45vh;height: 60vh;">
                <div class="card-header" style="background-color: #1C2333">
                    <h5 class="card-title text-center" style="">{{ video.title }}</h5>
                </div>
                <div class="card card-body" style=";object-fit: cover;height: 35vh;background-color:#1C2333">
                    <video class="embed-responsive embed-responsive-16by9" controls="controls" style="width: 100%;object-fit: cover;height: 35vh">
                        <source src="{{ video.video.url }}" type="video/mp4" />
                    </video>

                </div>

                <div class="card card-footer text-center" style="background-color: #1C2333;color: #B0B3B9">
                    <h5 class="card-comment">{{ video.course.name }}</h5>
                </div>


            </div>




        {% endfor %}
    </div>

{% endblock %}